ANS 1

In [ ]:
A database is an organized collection of structured information, or data, typically stored electronically 
in a computer system.
SQL databases are relational, and NoSQL databases are non-relational.
SQL databases use structured query language (SQL) and have a predefined schema. 
NoSQL databases have dynamic schemas for unstructured data.
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

ANS 2

In [ ]:
DDL statements are similar to a computer programming language for defining data structures,
especially database schemas. Common examples of DDL statements include CREATE, ALTER, and DROP

The CREATE TABLE command creates a new table in the database.

The following SQL creates a table called "Persons" that contains five columns: PersonID, LastName, FirstName, Address, and City:

ExampleGet your own SQL Server
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

In [ ]:
The DROP TABLE command deletes a table in the database.

The following SQL deletes the table "Shippers":

Example
DROP TABLE Shippers;

In [ ]:
The ALTER TABLE command adds, deletes, or modifies columns in a table.

The ALTER TABLE command also adds and deletes various constraints in a table.

The following SQL adds an "Email" column to the "Customers" table:

Example
ALTER TABLE Customers
ADD Email varchar(255);

In [ ]:
The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

The following SQL truncates the table "Categories": 

Example
TRUNCATE TABLE Categories;

ANS 3

In [ ]:
A data manipulation language (DML) is a family of computer languages including commands permitting
users to manipulate data in a database. This manipulation involves inserting data into database tables, 
retrieving existing data,deleting data from existing tables and modifying existing data. DML is mostly 
incorporated in SQL databases.

In [ ]:
The INSERT statement introduces new rows into an existing table.
The DELETE statement removes a row or combination of rows from a table.
The UPDATE statement enables users to update a row or group of rows in a table.

ANS 4

DQL or data query language is to perform the query on the data inside the schema or object (ie table, index,
view, function, etc). With the help of a DQL query, we can get the data from the database to perform actions
or operations like analyzing the data.

In [ ]:
A SELECT statement retrieves zero or more rows from one or more database tables or database views. In most
applications, SELECT is the most commonly used data manipulation language (DML) command. As SQL is a declarative
programming language,SELECT queries specify a result set, but do not specify how to calculate it.

ANS 5

A primary key is used to ensure data in the specific column is unique. A foreign key is a column or group
of columns in a relational database table that provides a link between data in two tables. It uniquely 
identifies a record in the relational database table.

ANS 6

In [ ]:
Python MySQL Connector is a Python driver that helps to integrate Python and MySQL. This Python MySQL library
allows the conversion between Python and MySQL data types. 
MySQL Connector API is implemented using pure Python and does not require any third-party library.

In [ ]:
class cursor. Allows Python code to execute PostgreSQL command in a database session. Cursors are created by
the connection.
cursor() method: they are bound to the connection for the entire lifetime and all the commands
are executed in the context of the database session wrapped by the connection.

ANS 7

In [ ]:
Order	Clause	    Function
1	     FROM	  Tables are joined to get the base data.
2	     WHERE	  The base data is filtered.
3	   GROUP BY 	The filtered base data is grouped.
4	    HAVING	  The grouped base data is filtered.
5	    SELECT	   The final data is returned.
6	   ORDER BY	  The final data is sorted.
7	    LIMIT	   The returned data is limited to row count.